<form class="form">
    <h1>Busca por perfil</h1>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Rede Social</mat-label>
        <input [(ngModel)]="search.rede_social" type="text" placeholder="Selecione uma" aria-label="Number" matInput [formControl]="rede_social" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Nome, email</mat-label>
        <input [(ngModel)]="search.perfil" [formControl]="perfil" required minlength="5" name="perfil" matInput placeholder="Ex. João da Silva">
        <mat-error *ngIf="perfil.invalid">{{ errorValidPerfil() }}</mat-error>
    </mat-form-field>

    <input required type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">

        {{fileName || "Nenhum arquivo carregado ainda."}}

        <button mat-button color="warn" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>

    <div class="progress">

        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">

        </mat-progress-bar>

        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>

    </div>

    <div>
        <button class="mat-elevation-z8" (click)="buscar()" [disabled]="errorValidPerfil()" mat-stroked-button color="accent">Buscar</button>
        <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
    </div>
</form>