.form {
    width: 40%;
    margin: auto;
    padding: 4rem 2rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.file-input {
    display: none;
}

div {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}

button {
    width: 40%;
    padding-bottom: .3rem;
}